body{
    /* background-color:#e3dac9 ; */
    /* background-color: rgb(49, 45, 45); */
    color: white;
}
.main{
    height: 100vh;
    background-size:cover;
}
.container{
    width: 80%;
    /* height: 100vh; */
    padding-top: 100px;
    /* border: 1px solid red; */
    margin: auto;
    /* backdrop-filter: blur(2px); */
    max-width: 1600px;
}
input{
    width: 50%;
    height: 35px;
    text-align: center;
    font-size: 23px;
    border-radius: 5px;
}
.reset{
    margin-top: 15px;
    padding: 5px 30px;
    border-radius: 4px;
    font-size: 17px;
    /* background-color: rgb(206, 17, 17); */
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.reset:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.content{
    width: 50%;
    text-align: center;
    font-size: 23px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #71a6d2;
    margin-top: 50px;
}
.content>h2{
    padding: 5px 0px 10px 0px;
}
.alert{
    color: #ed2939;
    font-weight: bold;
    font-size: 20px;
}
.accuracy{
    color: white;
    font-weight: 600;
    font-size: 19px;
}
.result{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    /* border: 1px solid red; */
}
.result>*{
    margin: 20px 13px;
}
.nice{
    color: green;
    font-weight: bold;
    font-size: 20px;
}
.average{
    color: orange;
    font-weight: bold;
    font-size: 20px;
}